---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  <hr>
  <table>
  {% for post in site.posts %}
    {% if post.title == page.title %}
    <tr>
      {% unless forloop.last %}
        {% assign next = site.posts[forloop.index] %}
      <td>
        <h3>Previous Post</h3>
        <a href="{{ site.baseurl }}{{ next.url }}">{{ next.title }} </a>
      </td>
      {% endunless %}
      {% unless forloop.first %}
      <td>
        <h3>Next Post</h3>
        <a href="{{ site.baseurl }}{{ prev.url }}">{{ prev.title }}</a>
      </td>
      {% endunless %}
    </tr>
    {% endif %}
    {% assign prev = post %}
  {% endfor %}
  </table>
  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
